// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.gradient-custom {
    background: radial-gradient(
            50% 123.47% at 50% 50%,
            #00ff94 0%,
            #720059 100%
        ),
        linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
        linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
        radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
        radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
    background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
#list1 .form-control {
    border-color: transparent;
}
#list1 .form-control:focus {
    // border-color: transparent;
    box-shadow: none;
}
#list1 .form-control {
    background-color: rgba(255, 255, 255, 0.2);
}
.bg-blur {
    background-color: rgba(0, 0, 0, 0.15);
}
.bi {
    display: inline-block;
    vertical-align: -0.125em;
    fill: currentcolor;
    width: 1em;
    height: 1em;
}

.category-list .list-group-item, .category-list .list-group-item:hover{
    background-color: #fff6;
    transition: all .2s ease-in-out;
 }
.category-list .list-group-item:hover {
 color: #fff;
}

.category-list .list-group-item.active {
background-color: #03a9f470;	
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
	color: #fff;
	background-color: #007fffb0;
}